@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

body{
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Aldrich', sans-serif;
}
heading{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 50px;
    margin-left: 30px;
}
heading a{
    text-decoration: none;
    color: #fff;
}

.form-box{
    position: relative;
    width: 650px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    border: 1px;
    padding: 20px;
    border-radius: 60px;
    margin: 0 auto;
    color: white;
}

h2{
    font-size: 2em;
    text-align: center;
}
.input-box{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus ~ label,
input:valid ~ label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
}
.input-box ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}
.forget{
    margin: -15px 0 15px;
    font-size: .9em;
    display: flex;
    justify-content: center;
}
.forget label{
    margin-right: 5px;
}
.forget a{
    text-decoration: none;
    color: #fff;
}
.btn{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    background-color: #394867!important;
    color: white;
    font-family: 'Aldrich', sans-serif;
}

.btn:hover{
    background-color: #19376D !important; 
    cursor: pointer;
}

.register{
    font-size: 1em;
    text-align: center;
    padding: 50px 0 0px;
    color: #fff;
}
.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}